{% extends "layouts/layout.html" %}

{% block content %}
    <section class="inwastro  fs-5">
      <div class="container">
        <h2 class="text-center">Astronomie</h2>
        <p class="text-center text-muted">Einiges aus dem Universum...</p>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 row-cols-xxl-5 g-4 mt-3">
          <div class="col">
            <div class="card h-100">
              <div class="card-header" id="cb0001">Astronomie</div>
              <div class="card-body">
                <h5 class="card-title">
                  <nav class="nav flex-column">
                    <a class="nav-link" href="https://webb.nasa.gov/content/webbLaunch/whereIsWebb.html?units=metric/" target=”_blank”>Where is WEBB?</a>
                  </nav>
                </h5>
              </div>
              <div class="card-footer">

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}