{% extends "layouts/layout.html" %}

{% block content %}
    <section class="inwhome  fs-5">
      <div class="container">
        <h2 class="text-center">Home</h2>
        <p class="text-center text-muted">Hier findet man einige lokale Links</p>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 row-cols-xxl-5 g-4 mt-3">
          <div class="col">
            <div class="card h-100">
              <div class="card-header">Hamburg</div>
              <div class="card-body">
                <h5 class="card-title">
                  <nav class="nav flex-column">
                    <a class="nav-link" href="https://www.eimsbuetteler-nachrichten.de/" target=”_blank”>Eimsbütteler Nachrichten</a>
                    <a class="nav-link" href="https://www.planetarium-hamburg.de/de/startseite" target=”_blank”>Planetarium Hamburg</a>
                  </nav>
                </h5>
              </div>
              <div class="card-footer">

              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="card-header">Wissen</div>
              <div class="card-body">
                <h5 class="card-title">
                  <nav class="nav flex-column">
                    <a class="nav-link active" aria-current="page" href="https://www.leo.org/englisch-deutsch/" target=”_blank”>Leo</a>
                    <a class="nav-link" href="https://lernen.phase-6.de/#/login" target=”_blank”>Phase 6</a>
                    <a class="nav-link" href="https://de.wikipedia.org/wiki/Wikipedia:Hauptseite" target=”_blank”>Wikipedia</a>
                  </nav>
                </h5>
              </div>
              <div class="card-footer">

              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="card-header">DevStudio Web I</div>
              <div class="card-body">
                <h5 class="card-title">
                  <nav class="nav flex-column">
                    <a class="nav-link" href="https://getbootstrap.com/" target=”_blank”>Bootstrap</a>
                    <a class="nav-link" href="https://fontawesome.com/" target=”_blank”>Font Awesome</a>
                    <a class="nav-link" href="https://fonts.google.com/" target=”_blank”>Google Fonts</a>
                    <a class="nav-link" href="https://loremipsum.io/" target=”_blank”>Lorem Ipsum</a>
                    <a class="nav-link" href="https://pixabay.com/" target=”_blank”>Pixabay</a>
                    <a class="nav-link" href="https://www.paletton.com" target=”_blank”>Paletton&nbsp;(Farben)</a>
                    <a class="nav-link" href="https://regexr.com/73a67" target=”_blank”>Regular Expressions testen</a>       
                  </nav>
                </h5>
              </div>
              <div class="card-footer">

              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="card-header" id="cb0001">DevStudio Web II</div>
              <div class="card-body">
                <h5 class="card-title">
                  <nav class="nav flex-column">
                    <a class="nav-link" href="https://www.mediaevent.de/tutorial/sonderzeichen.html" target=”_blank”>Mediaevent-HTML Sonderzeichen und Icons</a>
                    <a class="nav-link" href="https://www.w3schools.com/html/html_entities.asp" target=”_blank”>W3schools-HTML Entities</a>
                    <a class="nav-link" href="https://selfhtml.org/" target=”_blank”>selfhtml</a>
                    <a class="nav-link" href="https://codepen.io/" target=”_blank”>CodePen</a>
                    <a class="nav-link" href="https://caniuse.com/" target=”_blank”>CanIuse</a>
                    <a class="nav-link" href="https://de.wikipedia.org/wiki/HTTP-Statuscode" target=”_blank”>html-Statuscodes</a>
                  </nav>
                </h5>
              </div>
              <div class="card-footer">

              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="card-header" id="cb0001">Git-Studio</div>
              <div class="card-body">
                <h5 class="card-title">
                  <nav class="nav flex-column">
                    <a class="nav-link" href="https://github.com/github/gitignore" target=”_blank”>.gitignore-Vorlagen</a>
                    <a class="nav-link" href="https://www.sourcetreeapp.com/" target=”_blank”>SourceTree</a>
                  </nav>
                </h5>
              </div>
              <div class="card-footer">

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}